**/__pycache__
boltz_ckpt/mols
boltz_ckpt/.gitattributes
boltz_ckpt/boltz2_aff.ckpt
boltz_ckpt/boltz2_conf.ckpt
boltz_ckpt/mols.tar
plmc/
SaProt/weights/PLMs/.gitattributes
SaProt/weights/PLMs/config.json
SaProt/weights/PLMs/pytorch_model.bin
SaProt/weights/PLMs/README.md
SaProt/weights/PLMs/SaProt_650M_PDB.pt
SaProt/weights/PLMs/special_tokens_map.json
SaProt/weights/PLMs/tokenizer_config.json
SaProt/weights/PLMs/vocab.txt
SaProt/foldseek/foldseek
Spired/model/SPIRED-Fitness.pth
Spired/model/SPIRED-Stab.pth
*.out